body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(/public/images/64501845_2244326032351961_9013150743678418944_n.jpg)
  
  }
  
  a {
    color: #00B7FF;
  }
  
  